.some-styles {
  color: red;
}

.number-1 {
  color: green;
}

.nested {
  &-class {
    background: green;
  }

  &-another {
    border: 1px;
  }
}

@keyframes infinite-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
