name: Build
on:
  push:
    branches:
      - "master"
      - "alpha"
  pull_request:
    branches:
      - "**"

jobs:
  release:
    name: Test and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies
        run: npm ci
      - name: "Unit tests"
        run: npm test
      - name: "Reset changes from integration unit tests"
        run: git reset --hard HEAD
      - name: "Build"
        run: npm run build
      - name: "Type check"
        run: npm run check-types
      - name: "Code linting check"
        run: npm run check-linting
      - name: "Code formatting check"
        run: npm run check-formatting
      - name: "Commit formatting check"
        uses: wagoid/commitlint-github-action@v5
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release
